@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Italic.ttf');
}

body {
  background: url(../img/back.jpg) ; 
  font-family: Lora;
}

.logo {
  font-family: Lora;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}