@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Italic.ttf');
}

body {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: auto;
  /* background-color: rgb(141, 184, 221); */
  font-family: Lora;
}

.logo {
  font-family: Lora;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}