<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
  <title>University admin</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center logo my-4">
      <!-- <a href="#">App name</a> -->
    </h1>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
