{% extends 'base_accounts.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Ndejje University</h3>
                <h5> Student: <span class="badge badge-success">{{ user_name|capfirst }}</span></h5>

                {% if user_name.profile %}
                <h4>PROFILE</h4>
                <div class="row alert alert-primary">
                    <div class="col">Name: {{ user_name.profile.name }}</div>
                    <div class="col">DOB: {{ user_name.profile.birth_date }}</div>
                    <div class="col">Email: {{ user_name.profile.email }}</div>
                </div>
                <a class="btn btn-info mb-3" href="{% url 'apply' %}" role="button">Apply for a course</a>
                
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">Academic Year</th>
                            <th scope="col">campus</th>
                            <th scope="col">Programme</th>
                            <th scope="col">Resident</th>
                            <th scope="col">Qualified</th>
                        </tr>
                    </thead>
                    {% for course in courses %}
                    <tbody>
                    {% if courses %}
                        <td>{{ course.course_being_applied_for }}</td>
                        <td>{{ course.academic_year }}</td>
                        <td>{{ course.campus }}</td>
                        <td>{{ course.programme }}</td>
                        <td>{{ course.resident }}</td>
                        <td>
                            {% if course.qualifies %}
                                <a class="btn btn-success btn-sm" href="{% url 'generate_pdf' course.id %}" role="button">Admission letter</a>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm" disabled>Didn't Qualify</button>
                            {% endif %}
                        </td>
                    {% else %}
                        
                        <td colspan="6">
                            <div class="alert alert-danger" role="alert">
                                You haven't applied for any course yet
                              </div>
                        </td>
                    {% endif  %}
                    </tbody>
                    {% endfor %}
                </table>

                {% else %}
                <div class="alert alert-danger" role="alert">
                   <h6>{{user_name|capfirst }} <a href="{% url 'profile' %}">add </a>a profile to continue</h6> 
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
