{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a href="{% url 'login' %}" style="padding: 4px;" ><div class="btn btn-outline-primary btn-sm">Log In</div></a>
                    <a href="{% url 'signup' %}" style="padding: 4px;" ><div class="btn btn-primary btn-sm">Sign up</div></a>   
                </div>
                <h3 class="card-title text-center">X-University</h3>
                <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Welcome!</h4>
                <p>
                    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to the university, get started by creating a <a href="{% url 'signup' %}">student account</a> 
                </p>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                <a href="{% url 'apply' %}">Apply</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
